[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
dateparser = "*"
aiomysql = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python -m bot"
test = "python -m unittest discover bot/tests"
lint = "flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics"
